/* Hide field order/delta drag control to prevent reordering */
.field-widget-date-field-picker-ui-calendarux .tabledrag-handle,
.field-widget-date-field-picker-ui-calendarux .tabledrag-hide,
.field-widget-date-field-picker-ui-calendarux .tabledrag-toggle-weight-wrapper {
  display: none;
}
.field-widget-date-field-picker-ui-calendarux table.field-multiple-table > tbody > tr {
  border: none;
}
.field-widget-date-field-picker-ui-calendarux table.field-multiple-table > tbody > tr > td {
  padding: 0;
}

/* Hide checkbox input form element (but for now keep it visible but get it out the way) */
.field-widget-date-field-picker-ui-calendarux .checker {
  position: absolute;
}
.field-widget-date-field-picker-ui-calendarux .form-item label span.form-required {
  display: none;
}

/* Each week/row is a table > tr unto itself */
.field-widget-date-field-picker-ui-calendarux table.week-container {
  margin: 0;
}
.field-widget-date-field-picker-ui-calendarux table.week-container tr.even,
.field-widget-date-field-picker-ui-calendarux table.week-container tr.odd {
  border: none;
}
.field-widget-date-field-picker-ui-calendarux table.week-container td {
  height: 5em;
  width: 5em;
  border: 1px solid #ddd;
}
.field-widget-date-field-picker-ui-calendarux table.week-container td.odd-month {
  background-color: #eee;
}
.field-widget-date-field-picker-ui-calendarux table.week-container td.even-month {
  background-color: #ddd;
}
/* Hide Month labels except for the first of each month out of the box */
.field-widget-date-field-picker-ui-calendarux table.week-container .calendar-ux-month {
  display: none;
  color: #999;
}
.field-widget-date-field-picker-ui-calendarux table.week-container .toggle-day .calendar-ux-month {
  display: inline;
}

/* [LB-190] Take this junk out */
.field-widget-date-field-picker-ui-calendarux table#field-bpli-start-values table.week-container.disabled td.odd-month, .field-widget-date-field-picker-ui-calendarux table#field-bpli-start-values table.week-container.disabled td.even-month {
  background: #C4C4C4;
  color: #aaa;
}
.field-widget-date-field-picker-ui-calendarux table#field-bpli-start-values table.week-container.disabled {
  cursor: not-allowed;
}
.field-widget-date-field-picker-ui-calendarux table#field-bpli-start-values table.week-container.disabled tbody tr:hover td .calendar-ux-month {
color: #aaa;
}